.container {
    
    position: absolute;
    top: 30%;
    right: 30%;
    left: 30%;
     width: 600px;
     margin: 0 auto;
     padding: 20px;
     background-color: #f1f1f1;
     border-radius: 8px;
     box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
   }
  
   
   .header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 20px;
   }
  .alert{
    position: absolute;
    top: 40%;
    width: auto;
    right: 35%;
  
 
  }
   
   h2 {
     margin: 0;
    
     font-weight: bold;
     color: #333;
   }
   
   p {
     margin: 0;
     cursor: pointer;
     
     font-weight: bold;
     /* color: #0077cc; */
     transition: color 0.2s ease-in-out;
   }
   
   /* p:hover {
     color: #005fa3;
   }
    */
   .content {
     border-radius: 8px;
     padding: 20px;
     background-color: #fff;
     box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
   }
   
   h4 {
     margin: 0;
     margin-bottom: 10px;
  
     font-weight: bold;
     color: #333;
   }
   
   p.loading {
    
     font-weight: bold;
     color: #333;
     text-align: center;
     padding: 20px;
   }
  
   
   @media (max-width: 768px) {
     .container {
       max-width: 100%;
       border-radius: 0;
       box-shadow: none;
     }
   }