.firstRow{
    margin: auto;
    float: none;
    } 
    
    .Row {
      display: flex;
      flex-wrap: wrap;
      padding:  1em;
      text-align: center;
      justify-content: center;
    }
    .column {
      width: 100%;
      padding: 0.5em 0;
    }
    h1 {
      width: 100%;
      text-align: center;
      font-size: 3.5em;
      color: var(--DarkBlue)
    }
    .Card {
      height: 90%;
      box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
      padding: 3.5em 1em;
      border-radius: 0.6em;
      color: #1f003b;
      cursor: pointer;
      transition: 0.3s;
      background-color: #ffffff;
    }
    .Card .img-container {
      width: 8em;
      height: 8em;
      background-color: #0051B8;
      padding: 0.5em;
      border-radius: 50%;
      margin: 0 auto 2em auto;
    }
    .Card img {
      width: 100%;
      border-radius: 50%;
    }
    .card h3 {
      font-weight: 500;
     
    }
    
    .card p {
      font-weight: 300;
      text-transform: uppercase;
      margin: 0.5em 0 2em 0;
      letter-spacing: 2px;
    }
    
    .icons {
      width: 50%;
      min-width: 180px;
      margin: auto;
      display: flex;
      justify-content: space-between;
    }
    .Card a {
      text-decoration: none;
      color: inherit;
      font-size: 1.4em;
    }
    .Card:hover {
      background: linear-gradient(#053A7C, #0051B8);
      color: #ffffff;
      scale: 1.1;
    }
    .Card:hover .img-container {
      transform: scale(1.15);
    }
    @media screen and (min-width: 768px) {
      section {
        padding: 1em 7em;
      }
    }
    @media screen and (min-width: 992px) {
      section {
        padding: 1em;
      }
      .Card {
        padding: 5em 1em;
      }
      .column {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0 1em;
      }
    }